* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.header-container{
    display:flex;
    width:100%;
    margin-top:0;
    padding-top: 10px;
    position:relative;
    margin-left: 1em;
}
.search-input{
    width:300px;
    padding:0.3em;
    border:1px solid rgb(75, 179, 132);
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px yellowgreen;

}

.search-input:focus{
    outline:none;
    border:2px solid rgb(50, 130, 96);
}
.search-button:hover{
    background-color: rgb(50, 130, 96);
    transform: scale(1.02);
}
.search-button{
    padding:0.5em 1em;
    margin-left:0.5em;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 1rem;
    cursor:pointer;
    transition: all 0.3s ease-in;
    
}
.toggle-theme{
    width:55px;
    height:25px;
    position:absolute;
    right:20px;
    border-radius: 13px;
    top:15px;
    display:flex;
    align-items: center;
}
.toggle-circle{
    width:20px;
    height:20px;
    background-color: white;
    position:relative;
    border-radius:50%;
    margin-left:3px;

}
.not-toggled{
    background: linear-gradient(135deg, #2c2c2c, #1b1b1b);
}
.toggled{
     background: linear-gradient(135deg, #00c6ff, #0072ff);
     
}

.on-state{
    animation: onState 0.5s ease forwards;
}
@keyframes onState{
    from{
        transform:translateX(0);
        opacity:0;
    }
    to{
        transform: translateX(30px);
        opacity:1
    }
}

.off-state{
    animation: offState 0.5s ease forwards;
}
@keyframes offState {
  from {
    transform: translateX(30px); 
    opacity:0 
  }
  to {
    transform: translateX(0);
    opacity:1;
  }
}
.inner-header-container{
    width:80%;
    display:flex;
    justify-content: center;
}
.watchlist{
    position:absolute;
    right:5em;
    top:10px;
}