.card{
    border-radius:15px;
    max-width:200px;
    margin:10px;
    padding-top: 7px;
    background: linear-gradient(
    145deg,
    #ffffff,
    #fff5f8,
    #fde6ee
  );

    box-shadow: 
    0 20px 40px rgba(255, 182, 193, 0.25),
    0 10px 20px rgba(255, 182, 193, 0.15);
    transition: transform 0.3s ease-in-out;
    display:flex;
    flex-direction: column;
}
.card:hover{
    transform: scale(1.02);
}
.inner-cart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.image-wrap{
    position: relative;
    width:80%;
}
.card .movie-poster{
    width:100%;
    border-radius:10px 10px 0 0;
    margin:auto;
    display:block;
    margin-top:15px;
}
.card .main{
    position:relative;
    
}
.card .blur{
  position:absolute;
  filter:blur(20px);
  height: 60px;
  top:85%;
  width:110%;
  left:-5%;
}

.movie-info{
    display:flex;
    flex-direction:column;
    align-items:center;
   z-index: 1;
   position:relative;
}
.movie-title{
    font-size:1.1rem;
    font-weight:600;
    margin:10px 0 5px 0;
    margin-bottom:0px;
    color:rgb(226, 226, 234);
    text-align:left;
    width:120%;
}
.star-image{
    height:20px;
    margin-top:4px;
}
.full-details{
    margin-top:8px;
    padding:0.4em 0.8em;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 0.3s ease-in;
    box-shadow: 2px 2px 5px rgb(68, 91, 190);
    margin-bottom: 10px;
}
.fav-container{
    position:absolute;
    top:6px;
    right:-20px;
    box-shadow: 1px 1px 3px rgb(255, 182, 193);
    background: transparent;
    border-radius:50%;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
    color:white;
    background-color: #4f46e5;
}
.fav-container:hover {
    background: rgba(255, 182, 193, 0.9);
}